<section>
  <div class="row small-collapse">
    <div class="column medium-3">
      <div class="photo"></div>
    </div>
    <div class="column medium-9">
      <form>
        <label class="row">
          <input type="text" required/>
          <p>ИМЯ</p>
        </label>
        <label class="row">
          <input type="text" required/>
          <p>ДАТА РОЖДЕНИЯ</p>
        </label>
        <label class="row">
          <input type="text" required/>
          <p>ГОРОД</p>
        </label>
        <label class="row">
          <input type="text" required/>
          <p>КОНТАКТНЫЕ ДАННЫЕ</p>
        </label>
        <div class="approved"></div>
      </form>
    </div>
  </div>
  <div class="row skills">
    <h5>Навыки</h5>
    <div class="column small-6 medium-3">
      <label class="checkbox">
        <input type="checkbox">
        <span>HTML5</span>
      </label>
      <label class="checkbox">
        <input type="checkbox">
        <span>CSS3</span>
      </label>
      <label class="checkbox">
        <input type="checkbox">
        <span>БЭМ</span>
      </label>
    </div>
    <div class="column small-6 medium-3">
      <label class="checkbox">
        <input type="checkbox" checked>
        <span>SASS</span>
      </label>
      <label class="checkbox">
        <input type="checkbox">
        <span>LESS</span>
      </label>
      <label class="checkbox">
        <input type="checkbox">
        <span>GULP</span>
      </label>
    </div>
    <div class="column small-6 medium-3">
      <label class="checkbox">
        <input type="checkbox">
        <span>VANILLAJS</span>
      </label>
      <label class="checkbox">
        <input type="checkbox">
        <span>ANGULAR</span>
      </label>
      <label class="checkbox">
        <input type="checkbox">
        <span>JQUERY</span>
      </label>
    </div>
    <div class="column small-6 medium-3">
      <label class="checkbox">
        <input type="checkbox">
        <span>GIT</span>
      </label>
      <label class="checkbox">
        <input type="checkbox">
        <span>FOUNDATION</span>
      </label>
      <label class="checkbox">
        <input type="checkbox">
        <span>BOOTSTRAP</span>
      </label>
    </div>
  </div>
  <div class="row level">
    <div class="column small-6">
      <div class="meter">
        <div class="arrow"></div>
      </div>
    </div> 
    <div class="column small-6">
      <h5>Мой уровень владения<br> Java Script</h5>
      <p>8</p>
    </div> 
  </div>
</section>