.checkbox
  position: relative
  cursor: pointer  
  color: $font-color
  
  input[type="checkbox"]
    display: none    
    
    + span:before
      position: absolute
      top: rem-calc(3)
      left: rem-calc(-27)
      content: " "
  
      @include sprite($s-checkbox_unchecked)            
    
    &:checked + span:before
      position: absolute
      top: rem-calc(3)
      left: rem-calc(-27) 
      content: " "
  
      @include sprite($s-checkbox_checked)  
      
      animation: tick 150ms ease-in
  
  @keyframes tick
    0%
      transform: scale(0)
    100%
      transform: scale(1)
    