form    
  
  label
    display: block   
    height: $vertical-gutter * 3.8
    
    input[type="text"]
      margin: 0
    
      border: none
      border-bottom: 2px solid $item-color
    
      background-color: transparent
      box-shadow: none
      
      &:focus
        border: none
        border-bottom: 2px solid $item-color

        background-color: transparent
        box-shadow: none
    
      &:focus + p, &.has-value + p
        transform: translateY(rem-calc(-50))
        font-size: rem-calc(10)
    
    p
      margin: 0      
      transform: translateY(rem-calc(-28))
      
      color: $font-color
      
      transition: all 0.3s              