section
  margin: $vertical-gutter * 2 auto $vertical-gutter * 2 auto
  
  max-width: rem-calc(660)  
  
  background-image: url(../images/form_bg.png)
  
  
  .photo
    margin-left: rem-calc(20)
    margin-top: $vertical-gutter * 2
    
    @include sprite($s-photo)
      
  .approved
    position: absolute
    top: rem-calc(72)
    right: rem-calc(-10)
    
    @include sprite($s-approved)  
      
  
  form
    position: relative
    margin-left: rem-calc(20)
    margin-top: $vertical-gutter 
    
    width: rem-calc(460)
    
  .skills    
    margin-top: $vertical-gutter
    
    border-top: 2px solid rgba(232, 221, 221, 0.6)
    border-bottom: 2px solid rgba(232, 221, 221, 0.6)
    
    h5
      margin: $vertical-gutter * 2 rem-calc(25)        
      
    label
      margin-left: rem-calc(35)
      margin-bottom: $vertical-gutter * 3  
      
  .level
    padding: $vertical-gutter * 2 rem-calc(10)
  
    p
      font-size: rem-calc(40)
      color: #0093d7
      font-weight: $global-weight-bold
  
    .meter
      position: relative  
    
      @include sprite($s-meter)
    
      .arrow
        position: absolute
        bottom: rem-calc(-7)
        left: rem-calc(80)
        transform: rotate(-16deg) 
        transition: all 0.5s ease-out
        transform-origin: 82% 83%
      
        @include sprite($s-arrow)              
            
        
  